<%- include('header'); -%>

    <h1 id="title" class="ui header white">Ma limite - Déconfinement</h1>
    <div class="ui raised very padded text container segment">
        <h2 class="ui header">Quelle limite?</h2>

        <p>
            Depuis le 17 mars 2020, la population française est en mesure sanitaire de confinement, ce qui implique des restrictions de contacts humains et de déplacements définies aux niveaux nationnal et local.<br/>
            Cependant le Premier ministre, Edouard Philippe a présenté un plan de <span>déconfinement</span> prévu à partir du 11 mai.<br/>
            Tous les citoyens pourront se déplacer dans un rayon de 100 km autour de leur domicile. <br/>
            <br/>
            Mais que représentent 100 km ?
        </p>
        <div style="text-align: center; margin: auto">
            <a class="ui primary button" href="/maps">
                Voir ma limite de déplacement
            </a>
        </div>
    </div>
    <div class="ui raised very padded text container segment">
        <h2 class="ui header">Qui est l'auteur de ce site ?</h2>

        <p>
            Site réalisé par <span>Nicolas GUERROUDJ</span>, étudiant en deuxième année d'informatique à l'IUT d'Aix en provence.<br/>
            Ce site est purement indicatif et n'est affilié à aucune organisation.
        </p>
        <div class="ui divider"></div>
        <h4>Technologies utilisées</h4>
        <ul>
            <li>Node JS (express)</li>
            <li>Semantic UI</li>
            <li>Google Maps JavaScript API</li>
        </ul>
        <div class="ui divider"></div>
        <h4>Voir d'autres de ses créations ?</h4>
        <div style="text-align: center; margin: auto">
            <a class="ui primary button" >
                SOON
            </a>
        </div>
    </div>
<%- include('footer'); -%>